:root {
  --myFont: 'Mountains of Christmas', cursive;
  --red: #ff0000;
  --orange: #ffa500;
  --ltYellow: #ffffcc;
  --yellow: #ffff00;
  --yellowGreen: #9acd32;
  --green: #008000;
  --blue: #0000ff;
  --purple: #8a2be2;
}

.container {
  position: relative;
  transform: translateY(30%);
  font-family: var(--myFont);
}

.happy{
  margin-bottom: 100px;
}

.birthday {
  margin-bottom: 100px;
}

.red {
  color: var(--red);
  font-size: 60px;
}

.orange {
  color: var(--orange);
  font-size: 60px;
}

.yellow {
  color: var(--yellow);
  font-size: 60px;
}

.yellowgreen {
  color: var(--yellowgreen);
  font-size: 60px;
}

.green {
  color: var(--green);
  font-size: 60px;
}

.blue {
  color: var(--blue);
  font-size: 60px;
}

.purple {
  color: var(--purple);
  font-size: 60px;
}